#menu{
    background-color: #fff;
padding-bottom: 50px;
padding-top: 20px;}
    body{
        background-color: rgb(73, 81, 81);
    }       
#pied{
    background-color: rgba(154, 154, 154, 0.009);
}
   #contenu{
    
   right: 101px;
   height: 1000px;
  
   }
   #pied{
    background-color: rgb(255, 127, 127);
    height: 40px;

   }
   li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
   }
   li{
    display: inline-block;
   
    padding: 20px;
    text-align: center;
    font-style: inherit;
    color: black;
   
   }
   li:hover{
    
    background-color: rgba(50, 0, 12, 0.429);
    height: 6px;
    flex-direction: 10px;
  }

    img{
        width: 100x;
        height: 400px;
      
border-color: 1px solid #fff;
       }
